
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<h2>Remittance Management</h2>
<br>
<div class="row">
  <div class="col-75">
    <div class="container">
      <form action="/action_page.php" #addform="ngForm" (ngSubmit)="addRemittanceManagement(addform.value)">
      
        <div class="row">
          <div class="col-50">
          
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="fname" required="required" #namecontrol="ngModel" name="rmName" ngModel placeholder="John M. Doe">
            <span style="color: rgb(255, 0, 0);" *ngIf="namecontrol.touched && namecontrol.invalid"  > Please enter account number </span>

            <h3>Auto Pay Mode</h3>
             <label for="Amount"> Amount</label>
            <input type="text" id="amount" name="amount" placeholder="9999"> 
            <!-- <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" name="address" placeholder="542 W. 15th Street"> -->
            <label for="billtype">Bill Type</label>
            <input type="text" id="billtype" name="billtype" placeholder="ACT FIBERNET">

            <div class="row">
              <div class="col-50">
                <label for="state">Billing Date</label>
                <input type="text" id="bd" name="bd" placeholder="01-01-2020">
              </div>
              <label>
                <input type="checkbox" checked="checked" name="sameadr"> Please Check For Auto Pay Mode
              </label>
              <button type="button" [disabled]="addform.invalid" class="btn btn-primary btn-sm">Activate Pay Mode</button>
            </div>
          </div>

          <div class="col-50">
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Name on Card</label>
            <input type="text" id="cname" name="cardName" required="required" #cardnamecontrol="ngModel" ngModel  placeholder="John More Doe">
            <span style="color: rgb(255, 0, 0);" *ngIf="cardnamecontrol.touched && cardnamecontrol.invalid" >Name on the Card is Required </span>
            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" name="cardNo" required="required" #cardcontrol="ngModel" minlength="16" maxlength="16" ngModel placeholder="1111-2222-3333-4444">

            <span style="color: rgb(255, 0, 0);" *ngIf="cardcontrol.touched && cardcontrol.invalid" >Card Number is Required </span>
           


            <label for="expmonth">Email</label>
            <input type="text" id="expmonth" name="email" #emailcontrol="ngModel" required="required" ngModel placeholder="Email">
            <span style="color: rgb(255, 0, 0);" *ngIf="emailcontrol.touched && emailcontrol.invalid" >Email is Required </span>
            <div class="row">
              <div class="col-50">
                <label for="expyear">Exp MM/YYYY</label>
                <input type="text" id="expyear" name="expDate" #expcontrol="ngModel" required="required" ngModel placeholder="MM/YY">
                <span style="color: rgb(255, 0, 0);" *ngIf="expcontrol.touched && expcontrol.invalid" >Please enter expire date </span>
              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" required="required" #cvvcontrol="ngModel" minlength="3" maxlength="3" ngModel placeholder="352">
                <span style="color: rgb(255, 0, 0);" *ngIf="cvvcontrol.touched && cvvcontrol.invalid"  >CVV required </span>
              </div>
            </div>
          </div>
          <label for="cname">Account Holder Name</label>
          <input type="text" id="cname" name="cardname" placeholder="Account Holder Name">
          <label for="ccnum">Account Number</label>
          <input type="text" id="ccnum" name="cardnumber" placeholder="Account Number">
          
        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Check this box For Bank Representative Approval
        </label>
        <input type="submit" [disabled]="addform.invalid" value="Request For Approval" class="btn">
      </form>
    </div>
  </div>
  
</div>
</body>
</html>