<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" >
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<br>
<div class="container">
	<div class="row-fluid">
      <form class="form-horizontal">
        <fieldset>
          <div id="legend">
            <legend class="">Payment</legend>
          </div>
     
          <!-- Name -->
          <div class="control-group">
            <label class="control-label"  for="username">Account Holder's Name</label>
            <div class="controls">
              <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
            </div>
          </div>
     
         
          <div class="control-group">
            <label class="control-label" for="ano">To Account Number</label>
            <div class="controls">
              <input type="text" id="ano" name="ano" placeholder="To Account Number" class="input-xlarge">
            </div>
          </div>


          <div class="control-group">
            <label class="control-label" for="at">Amount To Transfer</label>
            <div class="controls">
              <input type="text" id="at" name="at" placeholder="Amount To Transfer" class="input-xlarge">
            </div>
          </div>


     
     
          <!-- CVV -->
          <div class="control-group">
            <label class="control-label"  for="password_confirm">Enter Flash Pin</label>
            <div class="controls">
              <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="span2">
            </div>
          </div>
     

<br>

          <!-- Save card -->
          <div class="control-group">
            <div class="controls">
              <label class="checkbox" for="save_card">
                <input type="checkbox" id="save_card" value="option1">
                Confirm Transfer
              </label>
            </div>
          </div>
     
          <!-- Submit -->
          <div class="control-group">
            <div class="controls">
              <button onclick="alert('Money Transfered Successfully xxxx xxxx xxxx xx06')"  class="btn btn-success">Transfer</button>
            </div>
          </div>
     <br>
     <br>
        </fieldset>
      </form>
    </div>
</div>