

          
        <html>
            <body> 
              <div class="col-md-4">
            <div class="col signup-form">
               
              
            </div>
            </div>

            <div class="container">
              <div class="row my-5">
                  <div class="col-md-4">
                    <form action="/examples/actions/confirmation.php" method="post" #addbillform="ngForm" (ngSubmit)="addBillPayments(addbillform.value)">
                      <div>  <h1 class="text-allign : center">PAY BILL</h1></div> 
                    <p class="col hint-text">   Pay All Your Bills In One Flash </p>
                    <div class="form-group">
                        <div class="column">


                            <div class="col"><input type="text" class="form-control" ngModel name="billNumber" #billcontrol="ngModel" minlength="4" maxlength="16" placeholder="Bill Number" required="required"></div>
                            <span style="color: rgb(255, 0, 0);" *ngIf="billcontrol.touched && billcontrol.invalid"  > Enter Valid Bill Number</span>


                            <br>
                            <div class="col">
            SELECT BILL PAYMENT :
            <select name="billType" ngModel required="required">
            
            <option value="ACT FIBERNET BILL">ACT FIBERNET</option>
            <option value="WATER BILL">WATER BILL</option>
            <option value="MOBILE BILL">MOBILE BILL</option>
            <option value="DTH BILL">DTH BILL</option> 
            <option value="CREDIT CARD BILL">CREDIT CARD BILL</option>
            <option value="GAS BILL">GAS BILL</option>
            <option value="LANDLINE BILL">LANDLINE BILL</option>
            <option value="FLASH BILL">FLASH BILL</option>
            
            </select>
</div>
<br>
            


                         
                     </div>     
                    
                            <div class="col"><input type="text" class="form-control" ngModel #amountcontrol="ngModel" minlength="2" name="billAmount" placeholder="Enter Amount" required="required">
                              <span style="color: rgb(255, 0, 0);" *ngIf="amountcontrol.touched && amountcontrol.invalid"  > Enter the Amount </span></div>
                        </div> 
                     
             
                  
                  <div class="col form-group">
                        <input type="Flashpin" class="form-control" #flashcontrol="ngModel" minlength="4" maxlength="4" ngModel name="transactionPin" placeholder="Flash Pin" required="required">
                        <span style="color: rgb(255, 0, 0);" *ngIf="flashcontrol.touched && flashcontrol.invalid" > 4 Digit Flash Pin is required </span>
                    </div>
                  
                        <div class="col form-group">
                        <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
                    </div>
                    <div class="col form-group">
                        <button type="submit" [disabled]="addbillform.invalid" class="btn btn-success btn-lg btn-block">Submit</button>
                    </div>
                </form>
                  </div>
              <p class="col-md-8 h5">
                  
              
              <img src="http://www.smartpayonline.in/wp-content/uploads/2017/12/bill-1696.jpg" style="width:750px; height:400px;">
              
              
              
              </p>
                      
              </div>
          </div>




            </body>
            
            </html>




























