

          
        <html>
            <body> 
              <div class="col-md-4">
            <div class="col signup-form">
                <form action="/examples/actions/confirmation.php" method="post">
                      <div>  <h1 class="text-allign : center">PAY BILL</h1></div> 
                    <p class="col hint-text">   Pay All Your Bills In One Flash </p>
                    <div class="form-group">
                        <div class="column">


                            <div class="col"><input type="text" class="form-control" ngModel name="#" placeholder="Account Number" required="required"></div>


                            <br>
                            <div class="col">
            SELECT BILL PAYMENT :
            <select name="accountType" ngModel required="required">
            
            <option value="ACT FIBERNET BILL">ACT FIBERNET</option>
            <option value="WATER BILL">FIXED DEPOSIT</option>
            <option value="MOBILE BILL">REOCCURING ACCOUNT</option>
            <option value="DTH BILL">DTH BILL</option> 
            <option value="CREDIT CARD BILL">CREDIT CARD BILL</option>
            <option value="GAS BILL">GAS BILL</option>
            <option value="LANDLINE BILL">LANDLINE BILL</option>
            <option value="FLASH BILL">FLASH BILL</option>
            
            </select>
</div>
<br>
            
<!-- 
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu">
    <a class="ACT FIBERNET BILL" >ACT FIBERNET BILL</a>
    <a class="WATER BILL BILL" >WATER BILL BILL</a>
    <a class="MOBILE BILL BILL" >MOBILE BILL BILL</a>
    <a class="DTH BILL" >DTH BILL</a>
    <a class="CREDIT CARD BILL" >CREDIT CARD BILL</a>
    <a class="GAS BILL" >GAS BILL</a>
    <a class="LANDLINE BILL" >LANDLINE BILL</a>
    <a class="FLASH BILL" >FLASH BILL</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div> -->




                         
                     </div>     
                    
                            <div class="col"><input type="text" class="form-control" ngModel name="#" placeholder="Enter Amount" required="required"></div>
                        </div>     <br>
                     
             
                  
                  <div class="col form-group">
                        <input type="Flashpin" class="form-control" ngModel name="Flashpin" placeholder="Flash Pin" required="required">
                    </div>
                  
                        <div class="col form-group">
                        <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
                    </div>
                    <div class="col form-group">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
                    </div>
                </form>
              
            </div>
            </div>
            </body>
            
            </html>




























