<br>


<div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
    <div class="card-header">Check Balance</div>
    <div class="card-body">
      <h5 class="card-title">Check Balance</h5>
      <p class="card-text">Checks and balances, principle of government under which separate branches are empowered to prevent actions by other branches and are induced to share power. Checks and balances are applied primarily in constitutional governments</p>
      <a href="#" class="btn btn-secondary ">Check Balance</a>
    </div>
  </div>
  <div class="card text-white bg-danger mb-3" style="max-width: 80rem;">
    <div class="card-header">Mini Statement</div>
    <div class="card-body">
      <h5 class="card-title">Mini Statement</h5>
      <p class="card-text">Introduction. This screen allows to view the mini statement for the account for last 'n' number of transactions. The details like account balance, available balance, effective balance, lien balance and unclear balance of the account can also be viewed.</p>
      <a href="#" class="btn btn-secondary">Mini Statement</a>
    </div>
  </div>
  <div class="card text-white bg-success mb-3" style="max-width: 80rem;">
    <div class="card-header">Withdraw Amount</div>
    <div class="card-body">
      <h5 class="card-title">Withdraw Amount</h5>
      <p class="card-text">Transfers made through your online banking account to another account at the same financial institution. Transfers made through your online banking account to another financial institution..</p>
      <a href="#" class="btn btn-secondary">Withdraw Amount</a>
    </div>
  </div>
  
  <div class="card text-white bg-warning mb-3" style="max-width: 80rem;">
    <div class="card-header">Transfer Amount</div>
    <div class="card-body">
      <h5 class="card-title">Transfer Amount</h5>
          <p class="card-text">a payment made or income received in which no goods or services are being paid for, such as a benefit payment or subsidy.</p>
      <a href="#" class="btn btn-secondary">Transfer Amount</a>
    </div>
  </div>
  <div class="card text-white bg-info mb-3" style="max-width: 80rem;">
    <div class="card-header">E-Statement </div>
    <div class="card-body">
      <h5 class="card-title">E-Statement </h5>
      <p class="card-text">An electronic version of a bank statement is known as an electronic statement or e-statement and allows account holders to access their statements online where they can download or print it. ... Some institutions charge for paper statements, while many online-only banks require digital delivery</p>
      <a href="#" class="btn btn-secondary">E-Statement</a>
    </div>
  </div>
  <div class="card bg-light mb-3" style="max-width: 80rem;">
    <div class="card-header">Bill Payment</div>
    <div class="card-body">
      <h5 class="card-title">Bill Payment</h5>
      <p class="card-text">Online bill payment is a secure electronic service that allows customers to pay bills without having to write checks and mail them. Online bill payment usually is tied to a checking account from which funds are withdrawn electronically for payment of one-time or recurring bills.</p>
      <a href="#" class="btn btn-secondary">Bill Payment</a>
    </div>
  </div>
  <div class="card text-white bg-dark mb-3" style="max-width: 80rem;">
    <div class="card-header">Remmitance Management</div>
    <div class="card-body">
      <h5 class="card-title">Remmitance Management</h5>
          <p class="card-text">Abstract Remittance management system is a system which process how a user in foreign country transfer remittance to home country. ... Remittance management system is a online based system where bank or provider can control the whole process.</p>
      <a href="#" class="btn btn-secondary">Remmitance Management</a>
    </div>
  </div>