

<br>



<div class="container">
	<div class="row-fluid">
      <form class="form-horizontal" #addform="ngForm" (ngSubmit)="addAmount(addform.value)">
        <fieldset>
          <div id="legend">
            <legend class="">Payment</legend>
          </div>
        
               <div class="control-group">
            <label class="control-label" for="at">Amount to Withdraw</label>
            <div class="controls">
              <input type="text"  name="withdrawAmount" #amountcontrol="ngModel" ngModel placeholder="Amount To WithDraw" required="required" class="input-xlarge">
              <span style="color: rgb(255, 0, 0);" *ngIf="amountcontrol.touched && amountcontrol.invalid" > Enter the Amount </span>
            </div>
          </div>
         

          <!-- CVV -->
        
          <div class="control-group">
            <label class="control-label"  for="password_confirm">Enter Flash Pin</label>
            <div class="controls">
              <input type="password" id="password_confirm" name="transactionPin" #flashcontrol="ngModel" ngModel minlength="4" maxlength="4" required="required" placeholder="FlashPin" class="span2">
              <span style="color: rgb(255, 0, 0);" *ngIf="flashcontrol.touched && flashcontrol.invalid" > 4 Digit Flash Pin is required </span>
            </div>
          </div>
         
<br>
  
          <!-- Submit -->
   
          <div class="control-group">
            <div class="controls">
              <button type="submit" [disabled]="addform.invalid"  class="btn btn-success">Withdraw</button>
            </div>
          </div>
      
     <br>
     <br>
        </fieldset>
      </form>

    </div>
</div>