<!-- <form action="action_page.php">
    <div class="container">
      <h1>FIXED DEPOSIT ACCOUNT</h1>
     
      <hr>
  
      <label ><b>Account Number</b></label>
      <input type="text" placeholder="Enter Account Number" name="fixedDepositId" required><br>
  
      <label ><b>Account Holder Name</b></label>
      <input type="text" placeholder="Enter Account Holder Name" name="userName"  required>
  
      <label ><b>Enter Amount</b></label>
      <input type="number" placeholder="Enter Amount" name="amount"  required>
      <hr>
  
      <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
      <button type="submit" class="registerbtn">Register</button>
    </div>
  
    <div class="container signin">
      <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div>
  </form> -->




  
     
<!--     

<div class="container">
    <div class="row">
        <div class="col-xs-3  ">
                <h2><b>FIXED DEPOSIT</b></h2>
                <form  action="signin.html" method="POST">
                    Account Number:<br>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Account Number" name="name"   >
                    </div>
                    Account Holder:<br>
                    <div class="form-group">
                        <input type="email" class="form-control"  placeholder="Holder Name"  name="email"  >
                    </div>
                    from:
                    <div></div>
                    <input type="date" id="dateOfBirth" ngModel name="dateOfBirth" >
                    </div>
                    To:
                    <div></div>
                    <input type="date" id="dateOfBirth" ngModel name="dateOfBirth" >
                    </div>
                    Amount:<br>
                    <div class="form-group">
                        <input type="text" class="form-control"  placeholder="Amount" name="contact" >
                    </div>
                   
                    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                </form>                      
               
            </div>
            <div class="col-xs-9 ">
              
                    
            
                
                <h4><p>We’re in the thick of it: a changing business landscape, a changing company, a changing world. Yet we are motivated to learn and succeed together—to build our own future and just get it done. That’s why we’re creating a workplace where self-starters have the permission and ability to run toward challenges.
                </p> <br> <ul class="square">
                        <li>
                            Where industry and technical experts are eager to conquer problems that others shy away from.</li>
                            <br><li>Where we stay fiercely technology-independent so we can do what’s best for our clients and ourselves.</li>
                            <br><li>Where brilliant people seize change as opportunity to accelerate their careers and amplify client success.</li>
                            <br><li>Where personal ambition is balanced with a spirit of collaboration.</li>
                            <br><li>Where we invest in you as you invest in yourself.</li>
                    </ul>




                </h4>

            </div>
        </div>
    </div>
    

     -->



     <div class="container">
        <div class="row my-5">
            <div class="col-md-4">
               


                <h2><b>FIXED DEPOSIT</b></h2>
                <form  action="signin.html" method="POST">
                    Account Number:<br>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Account Number" name="name"   >
                    </div>
                    Account Holder:<br>
                    <div class="form-group">
                        <input type="email" class="form-control"  placeholder="Holder Name"  name="email"  >
                    </div>
                    From:
                    <div>
                    <input type="date" id="dateOfBirth" ngModel name="dateOfBirth" >
                    </div>
                    To:
                    <div>
                    <input type="date" id="dateOfBirth" ngModel name="dateOfBirth" >
                    </div>
                    Amount:<br>
                    <div class="form-group">
                        <input type="text" class="form-control"  placeholder="Amount" name="contact" >
                    </div>
                   
                    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                </form>  
            </div>
        <p class="col-md-8 h5">

           
            <img src="../assets/Fdplans.PNG"    style="width:750px; height:400px;" >
            
            
        </p>
                
        </div>
    </div>