<html>
    <body>
     <div class="container">
        <div class="row my-5">
            <div class="col-md-4">
               
                <h2><b>FIXED DEPOSIT</b></h2>
                <form action="" method="post" #addfixedfrom="ngForm" (ngSubmit)="addFixedDeposit(addfixedfrom.value)">
                    Flashpin:<br>
                    <div class="form-group">
                        <input type="text" class="form-control" name="transactionPin" ngModel placeholder="Enter MPin"  >
                    </div>
                    Account Holder:<br>
                    <div class="form-group">
                        <input type="text" class="form-control" name="fdName" ngModel  placeholder="Holder Name"  >
                    </div>
                    From:
                    <div>
                    <input type="date" id="dateOfBirth" ngModel name="transactionFDate" >
                    </div>
                    To:
                    <div>
                    <input type="date" id="dateOfBirth" ngModel name="transactionTDate" >
                    </div>
                    Amount:<br>
                    <div class="form-group">
                        <input type="text" class="form-control" ngModel placeholder="Amount" name="balanceAmount" >
                    </div>
                   <div class="form-group">
                    <button type="submit"   name="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>  
                <!-- <form  #addform="ngForm" (ngSubmit)="addFixedDeposit(addform.value)" >
                    Account Number:
                    <div class="form-group" >
                        <input type="username" class="form-control" ngModel name="fixedDepositId" placeholder="User Number" required="required">
                    </div>
                    Account Name:
                    <div class="form-group" >
                        <input type="username" class="form-control" ngModel name="fdName" placeholder="User Name" required="required">
                    </div>
                    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                </form> -->
            </div>
        <p class="col-md-8 h5">

           
            <img src="../assets/Fdplans.PNG"    style="width:750px; height:400px;" >
            
            
        </p>
                
        </div>
    </div>
    </body>
    </html>
    