<html>
    <body>
     <div class="container">
        <div class="row my-5">
            <div class="col-md-4">
               
                <h2><b>FIXED DEPOSIT</b></h2>
                <form action="" method="post" #addfixedform="ngForm" (ngSubmit)="addFixedDeposit(addfixedform.value)">
                    Flashpin:<br>
                    <div class="form-group">
                        <input type="text" class="form-control" required="required" name="transactionPin" minlength="4" maxlength="4"  #flashcontrol="ngModel" ngModel placeholder="Enter FlashPin"  >
                        <span style="color: rgb(255, 0, 0);" *ngIf="flashcontrol.touched && flashcontrol.invalid"  > 4 Digit Flash Pin is required </span>
                    </div>
                    Account Holder:<br>
                    <div class="form-group">
                        <input type="text" class="form-control" required="required" name="fdName" ngModel #namecontrol="ngModel"  placeholder="Holder Name"  >
                        <span style="color: rgb(255, 0, 0);" *ngIf="namecontrol.touched && namecontrol.invalid"  > Please enter account number </span>
                    </div>
                    From:
                    <div>
                    <input type="date" id="dateOfBirth" required="required" ngModel name="transactionFDate" >
                    </div>
                    To:
                    <div>
                    <input type="date" id="dateOfBirth" required="required" ngModel name="transactionTDate" >
                    </div>
                    Amount:<br>
                    <div class="form-group">
                        <input type="text" class="form-control" required="required" #amountcontrol="ngModel" minlength="4"  ngModel placeholder="Amount" name="balanceAmount" >
                        <span style="color: rgb(255, 0, 0);" *ngIf="amountcontrol.touched && amountcontrol.invalid"  > Minimum amount 1000 </span>
                    </div>
                   <div class="form-group">
                    <button type="submit" [disabled]="addfixedform.invalid"  name="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>  
                <!-- <form  #addform="ngForm" (ngSubmit)="addFixedDeposit(addform.value)" >
                    Account Number:
                    <div class="form-group" >
                        <input type="username" class="form-control" ngModel name="fixedDepositId" placeholder="User Number" required="required">
                    </div>
                    Account Name:
                    <div class="form-group" >
                        <input type="username" class="form-control" ngModel name="fdName" placeholder="User Name" required="required">
                    </div>
                    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                </form> -->
            </div>
        <p class="col-md-8 h5">

           
            <img src="../assets/Fdplans.PNG"    style="width:750px; height:400px;" >
            
            
        </p>
                
        </div>
    </div>
    </body>
    </html>
    