<br>
<form>
  <div class="form-group row">
    <label for="Account Holder Name" class="col-sm-2 col-form-label">Account Holder Name</label>
    <div class="col-xs-4">
      <input type="text" class="form-control" id="Account Holder Name" placeholder="Account Holder Name">
    </div>
  </div>
  <div class="form-group row">
    <label for="Account Number" class="col-sm-2 col-form-label">Account Number</label>
    <div class="col-xs-4">
      <input type="text" class="form-control" id="Account Number" placeholder="Account Number">
    </div>
  </div>
  <div class="form-group row">
    <label for="Amount" class="col-sm-2 col-form-label">Amount</label>
    <div class="col-xs-4">
      <input type="text" class="form-control" id="Amount" placeholder="Amount">
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Request Statement</legend>
      <div class="col-xs-4">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            Monthly Statement
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Quaterly
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" >
          <label class="form-check-label" for="gridRadios3">
            Yearly Statement
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <div class="col-sm-3">
      <button type="submit" class="btn btn-success btn-l btn-block">Submit</button>
    </div>
  </div>
</form>
<!-- <div>
  <form action="">
<div>
  
REQUEST STATEMENT :
<select name="statementType" ngModel required="required">

<option value="MONTHLY STATEMENT">MONTHLY STATEMENT</option>
<option value="QUATERLY STATEMENT">QUATERLY STATEMENT</option>
<option value="YEARLY STATEMENT">YEARLY STATEMENT</option>
</select>
    </div>    

<div>
<label for="cname">Account Holder Name</label>
          <input type="text" id="accname" name="accname" placeholder="Account Holder Name">
          </div>
          <div>
          <label for="ccnum">Account Number</label>
          <input type="text" id="accnum" name="accnum" placeholder="Account Number">
          </div>
          <div>
          <label for="Amount"> Amount</label>
            <input type="text" id="amount" name="amount" placeholder="9999"> 
            </div>
            <div>
           <label for="dateOfDeposit">Date Of Deposit: </label>
          <input type="date" id="dateOfDeposit" ngModel name="dateOfDeposit" >
            </div>
  </form>
  </div> -->
          <header class="bg-primary text-center py-5 mb-4">
            <div class="container">
              <h1 class="font-weight-light text-white">Meet the Team</h1>
            </div>
          </header>
          
          <!-- Page Content -->
          <div class="container">
            <div class="row">
              <!-- Team Member 1 -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                  <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Team Member</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                  </div>
                </div>
              </div>
              <!-- Team Member 2 -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                  <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Team Member</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                  </div>
                </div>
              </div>
              <!-- Team Member 3 -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                  <img src="https://source.unsplash.com/sNut2MqSmds/500x350" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Team Member</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                  </div>
                </div>
              </div>
              <!-- Team Member 4 -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                  <img src="https://source.unsplash.com/ZI6p3i9SbVU/500x350" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Team Member</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.row -->
          
          </div>
          <!-- /.container -->

