

<div>
REQUEST STATEMENT :
<select name="statementType" ngModel required="required">

<option value="MONTHLY STATEMENT">MONTHLY STATEMENT</option>
<option value="QUATERLY STATEMENT">QUATERLY STATEMENT</option>
<option value="YEARLY STATEMENT">YEARLY STATEMENT</option>
</select>
    </div>    
    <br>
    <br>

<label for="cname">Account Holder Name</label>
          <input type="text" id="accname" name="accname" placeholder="Account Holder Name">
          <br>
          <br>
          <label for="ccnum">Account Number</label>
          <input type="text" id="accnum" name="accnum" placeholder="Account Number">
          <br>
          <br>
          <label for="Amount"> Amount</label>
            <input type="text" id="amount" name="amount" placeholder="9999"> 
            <br>
            <br>
           <label for="dateOfDeposit">Date Of Deposit: </label>
          <input type="date" id="dateOfDeposit" ngModel name="dateOfDeposit" >







          

          <header class="bg-primary text-center py-5 mb-4">
            <div class="container">
              <h1 class="font-weight-light text-white">Meet the Team</h1>
            </div>
          </header>
          
          <!-- Page Content -->
          <div class="container">
            <div class="row">
              <!-- Team Member 1 -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                  <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Team Member</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                  </div>
                </div>
              </div>
              <!-- Team Member 2 -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                  <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Team Member</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                  </div>
                </div>
              </div>
              <!-- Team Member 3 -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                  <img src="https://source.unsplash.com/sNut2MqSmds/500x350" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Team Member</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                  </div>
                </div>
              </div>
              <!-- Team Member 4 -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                  <img src="https://source.unsplash.com/ZI6p3i9SbVU/500x350" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Team Member</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.row -->
          
          </div>
          <!-- /.container -->

