<html>
<body> 
<div class="signup-form">
    <form action="/examples/actions/confirmation.php" method="post" #addform="ngForm" (ngSubmit)="addRegister(addform.value)">
		<h2>REGISTER </h2>
		<p class="hint-text">Create account for Flash Transaction in Flash Trans</p>
        <div class="form-group">
			<div class="column">
Account Type :
<select name="accountType" ngModel required="required">

<option value="SAVINGS ACCOUNT">SAVINGS ACCOUNT</option>
<option value="FIXED DEPOSIT">FIXED DEPOSIT</option>
<option value="REOCCURING ACCOUNT">REOCCURING ACCOUNT</option>
<option value="ADDING NEW SERVICES" disabled>ADDING NEW SERVICES</option> 


</select>
             
         </div>     
         <br><br>
              
                <div class="col"><input type="text" class="form-control"  ngModel #firstcontrol="ngModel" name="firstName" placeholder="First Name" required="required"></div>
                <span style="color: rgb(255, 0, 0);" *ngIf="firstcontrol.touched && firstcontrol.invalid"  > Enter the First Name </span>
          <br>
                <div class="col"><input type="text" class="form-control" ngModel name="lastName" #lastcontrol="ngModel" placeholder="Last Name" required="required"></div>
                <span style="color: rgb(255, 0, 0);" *ngIf="lastcontrol.touched && lastcontrol.invalid"  > Enter the Last Name </span>
			</div>     <br>
         
    
  <label for="dateofbirth">Birthday: </label>
  <input type="date" id="dateOfBirth" ngModel name="dateOfBirth" >

      <br><br>
      
Gender :
          <br>
          <br>
<input type="radio" value="Male" ngModel name="gender" checked > Male 
<input type="radio" value="Female" ngModel name="gender"> Female 
<input type="radio" value="Other" ngModel name="gender"> Other

      <br><br>
      Phone :
<input type="text" name="country code" placeholder="Country Code" disabled  value="+91" size="2"/> 
<input type="text" name="phoneNumber" ngModel #mobilecontrol="ngModel" placeholder="9999999999" size="10" required> 
<span style="color: rgb(255, 0, 0);" *ngIf="mobilecontrol.touched && mobilecontrol.invalid"  > Enter Valid Mobile Number </span>
 
         <br>
       <br>
          <div>
        </div>
      
      <div class="form-group">
            <input type="username" class="form-control" ngModel name="userName" #usercontrol="ngModel" placeholder="User Name" required="required">
            <span style="color: rgb(255, 0, 0);" *ngIf="usercontrol.touched && usercontrol.invalid"  > Enter the user name </span>
        </div>
      
      <div class="form-group">
            <input type="email" class="form-control" #emailcontrol="ngModel"  ngModel  name="email" placeholder="Email" required="required">
            <span style="color: red;" *ngIf="emailcontrol.touched && emailcontrol.invalid" > Email is required </span>
        </div>
		<div class="form-group">
            <input type="password" class="form-control" #passcontrol="ngModel" ngModel name="password" placeholder="Password Should Contain (@,.&Number)" required="required">
            <span style="color: red;" *ngIf="passcontrol.touched && passcontrol.invalid" > Password is required </span>
        
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Password Should Contain (@,.&Number)" required="required">
           


        </div>        
      
      
      <div class="form-group">
            <input type="password" class="form-control" #flashcontrol="ngModel" ngModel name="transactionPin" placeholder="Flashpin should be 4 digit" required="required">
            <span style="color: rgb(255, 0, 0);" *ngIf="flashcontrol.touched && flashcontrol.invalid" > Flash Pin is required </span>
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Flashpin" required="required">
        </div>        
      
       <div class="form-group">
        	<input type="aadhaar" class="form-control" #aadhaarcontrol="ngModel" minlength="12" maxlength="12" ngModel name="aadharNumber" placeholder="Aadhaar Number" required="required">
        
            <span style="color: red;" *ngIf="aadhaarcontrol.touched && aadhaarcontrol.invalid" > Aadhaar required </span>
        
        </div>
            <div class="form-group">
			<label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
		</div>
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
        </div>
    </form>
	<div class="text-center">Already have an account? <a href="#">Sign in</a></div>
</div>
</body>

</html>